<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none" class="category-select">
    <ion-select aria-label="Category" interface="popover" placeholder="Category: " (ionChange)="filterByCategory($event)">
      <ion-select-option   *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of filteredProducts; trackBy: trackByFn">
        <div class="product-card" (click)="doNavigate(product.id)">
          <img [src]="product.image" [alt]="product.title">
          <h3>{{ product.title }}</h3>
          <p>{{ product.category }}</p>
          <p class="price">${{ product.price.toFixed(2) }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
